

body {
font-family: Arial, sans-serif;
margin: 0;
background-color: #f5f5f5;
color: #000;
}

header {
background-color: #000;
color: white;
text-align: center;
padding: 25px;
}

/* Menu con cuadritos */
.menu {
margin-bottom: 20px;
}

.menu a {
display: inline-block;
background-color: white;
color: black;
text-decoration: none;
padding: 10px 18px;
margin: 5px;
border: 2px solid white;
border-radius: 8px;
font-weight: bold;
transition: 0.3s;
}

.menu a:hover {
background-color: #d9d9d9;
transform: scale(1.05);
}

h1 {
margin-top: 10px;
}

.subtitulo {
font-size: 18px;
}

.tarjeta {
background-color: white;
width: 80%;
margin: 30px auto;
padding: 25px;
border-radius: 10px;
border: 2px solid black;
box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

.imagen-principal {
width: 80%;
max-width: 600px;
border-radius: 10px;
border: 3px solid black;
margin: 20px 0;
}

h3 {
color: black;
}

footer {
background-color: black;
color: white;
text-align: center;
padding: 15px;
margin-top: 20px;
}
